.reactselect :global(.rs__control) {
  background-color: #555556;
  border: 1px solid #626262 !important;
  box-shadow: none;
  outline: none !important;
  height: 27px;
  min-height: 27px;
}

.reactselect :global(.rs__menu-list) {
  background-color: #555556;
  color: #fff;
}

.reactselect :global(.rs__option) {
  background: #555556;
  color: #fff;

  padding: 1px 0 2px 5px;
  font-size: 1.3rem;

  &:hover,
  &:focus,
  &:active {
    background: #626262;
  }
}

.smallopt :global(.rs__option) {
  height: 27px;
  min-height: 27px;
}

.reactselect :global(.rs__value-container) {
  color: red;
  outline: none;
}

.reactselect :global(.rs__single-value),
:global(.rs__input),
:global(.rs__placeholder) {
  color: #fff;
}
