@import '~css/components/buttons';
@import '~css/layout/panels';

.header {
  clear: both;
  border-bottom: 1px solid #fff;
  height: 40px;
  margin-bottom: 5px;

  .buttons {
    float: right;
  }

  .parentNode {
    float: left;
  }
}
