@import '~css/components/buttons';
@import '~css/layout/panels';

.toolContainer {
  width: 90px;
  height: 70px;
  border: 1px solid #4a4a4a;
  display: inline-block;
  font-size: 1.2rem;

  .title {
    width: 100%;
    margin: 2px 0 2px 0;
    text-align: center;
    font-weight: bold;
  }
}