.hoverOnEnter {
  border-top: 3px solid green !important;
}

.hoverOnReceive {
  border-bottom: 3px solid red !important;
}

.hoverTransition {
  border-bottom: 3px solid purple !important;
}

.sectionTitle {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 8px;
  color: #fff;
  background: #000;

  &.waiting {
    background: #f6bd4f;
    color: #000;
  }

  .subtitle {
    font-size: 80%;
  }
}
