@import './NodeElement.styl';
@import './NodeTitle.styl';
@import './StandardNode.styl';

.sectionTitle {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 8px;
  color: #fff;
  background: #5353fb;

  &.waiting {
    background: #f6bd4f;
    color: #000;
  }

  .subtitle {
    font-size: 80%;
  }
}
