.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;

  input, .input, .select {
    background-color: #555556;
    color: #fff;
    border: 1px solid #626262;
    font-size: 1.2rem;
    height: 2.4rem;
    padding: 0.4rem 0.8rem;
    outline: none;
  }

  select {
    // background-color: #555556;
    // color: #fff;
    // border: 1px solid #626262;
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" fill-rule="nonzero" d="M7 10l5 5 5-5z"/></svg>');
    no-repeat: right center;
    -webkit-appearance: none;
    padding-right: 2.4rem;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;

    .optional {
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
    }
  }

  small {
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }
}

.input {
  background-color: #555556;
  color: #fff;
  border: 1px solid #626262;
  font-size: 1.2rem;
  height: 2.4rem;
  padding: 0.4rem 0.8rem;
  outline: none;
  width: 100%;
}

.tip {
  font-size: 90%;
  color: #777;
  float: right;
}