@import '~css/components/input';
@import '~css/components/dropdown';

/* * TRANSITIONS */
.endBloc, .nodeBloc, .subflowBloc, .returnBloc {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-top: 5px;
}

.returnBloc {
  background-color: darkcyan;
}

.endBloc {
  background-color: #e62eea;
}

.nodeBloc {
  background-color: black;
}

.subflowBloc {
  background-color: blue;
}
