.rjsf {
  :global(.form-control) {
    background-color: var(--c-background);
    color: var(--c-neutral--light-3);
    border: 1px solid var(--c-background--light-1);
    padding: 0.4rem 0.8rem;
    outline: none;
    width: 100%;
  }
}
