:root {
    --t-default: all .1s ease-in;

    --fw-normal: 400;
    --fw-bold: 600;

    --s-default--half: .4rem;
    --s-default: .8rem;
    --s-default--2x: 1.6rem;
    --s-default--3x: 2.4rem;
}
